<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>DDPI-Mk.3 Controller</title>

    <!-- THEMES -->
    <link rel="stylesheet" href="{{ url_for('static', filename='united-theme/bootstrap.min.css') }}" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename='_assets/css/custom.min.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='_assets/js/custom.js')}}"></script>

  </head>
  <body class style>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary" style="">
      <div class="container">
        <a href="#" class="navbar-brand">APLAB DDPI-Mk3</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://www.imagepypelines.org/" target="_blank">APLAB</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>DDPI-Mk3 Controller</h1>
            <!-- <p class="lead">Probably just going to make a dynamic progress bar based on user input...</p> -->
          </div>
        </div>
      </div>

      <!-- Form
      ================================================== -->

      <!-- <form action="submit" id="progress-form">
        Progress %:<br>
        <input id="progress-width" type="number" name="progress-width" max="100" min="0">
      </form> -->

      <!-- Progress
      ================================================== -->
      <div class="bs-docs-section">
          <div class="row text-center">
              <form action="/forward" method="post">
                  <button type="submit" class="btn btn-primary" value="move forward">Forward</button>
              </form>
          </div>

          <div class="row">
              <form action="/left" method="post">
                <button type="submit" class="btn btn-primary" value="move left">Left</button>
              </form>

              <form action="/right" method="post">
                  <button type="submit" class="btn btn-primary" value="move right">Right</button>
              </form>
          </div>

          <div class="row text-center">
              <form action="/backward" method="post">
                  <button type="submit" class="btn btn-primary" value="move backward">Backward</button>
              </form>
          </div>

          <div class="row text-center">
              <form action="/up" method="post">
                  <button type="submit" class="btn btn-primary" value="move up">Up</button>
              </form>
          </div>


          <div class="row text-center">
              <form action="/down" method="post">
                  <button type="submit" class="btn btn-primary" value="move down">Down</button>
              </form>
          </div>


        <div class="row justify-content-md-center">
          <div class="col col-lg 1">
            <div id="arduino_log" style="height:400px;width:1200px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:scroll;">
              <p style="white-space:pre-wrap">{{arduino_log}}</p>
            </div>
          </div>
        </div>

        <div class="row text-center">
            <form action="/update" method="post">
                <button id="update-button" type="submit" class="btn btn-primary" value="update log">Update</button>
            </form>
        </div>

      </div>


    </div>

    <script>
      setInterval(function () {document.getElementById("update-button").click();}, 8000);
    </script>

    <footer class="footer">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>

            <br/>

        </p>
        <p>
            &copy; Copyright 2019 Active Perception Lab, University of Rochester<br/>
        </p>
      </div>
    </footer>


  </body>

 </html>
